body {
    font-family: "Gowun Batang", serif;
}

.game-container {
    background-color: #DAB289;
    width: 80%;
    height: 70vh;
}

.balloons-area {
    width: 60%;
    height: 50vh;
    background-color: #FFF1D2;
    margin: 0 auto;

    position: relative;      /* IMPORTANT pour centrer en absolu */
    overflow: hidden;

    border: 20px solid #B47B41;
    outline: 5px solid #6D4B27;
    border-radius: 10px;
}


.title-game {

    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;          /* 🔥 adapte cette valeur à ton PNG */
    height: 100px;         /* 🔥 idem */

    display: flex;         /* permet de centrer le texte */
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 2rem;       /* optionnel : texte plus grand */
    font-weight: bold;     /* optionnel */

    margin: 0 auto;
    border-radius: 10px;
}

.balloon {
    width: 60px;
    height: 80px;
    background-color: greenyellow; /* sera changé par JS si tu veux */
    border-radius: 50%;
    position: absolute; /* pour pouvoir le placer où tu veux */
}

.balloon-to-pop{
    width: 60px;
    height: 80px;
    background-color: red; /* sera changé par JS si tu veux */
    border-radius: 50%;
    position: absolute;
}

.win-title,
.lose-title {
    margin: 0; /* enlève les marges par défaut des h1 */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* centre parfait */

    background-image: url("resources/button_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;   /* adapte à ton PNG */
    height: 120px;

    display: flex;              /* texte centré dans le bouton */
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    z-index: 20;
}


.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
  
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.hidden {
    display: none;
}

.instruction {
    background-image: url("resources/button_red.png"); /* ton fichier PNG */
    background-size: contain;   /* garde les proportions */
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;         
    top: 50%;                   
    left: 50%;                  
    transform: translate(-50%, -50%); /* centre parfait */

    font-size: 3rem;
    font-weight: bold;
    color: #FFF1D2;
    text-align: center;
    z-index: 10; /* au-dessus de tout */
}

.game-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}