td {
    border: 2px solid black;
    background-color: #FFF1D2;
}

table {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dab289;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    height: 100vh;
}

/* Zone de jeu */
#gameZone {
    position: relative;
    width: 90vw;
    /* largeur fixe */
    height: 80vh;
    /* hauteur fixe */
    margin: 0 auto;
    /* centre horizontalement avec un espace en haut */
    border: 5px solid #8E3F38;
    border-radius: 12px;
    background-color: #FFF1D2;
    overflow: hidden;
    /* cache ce qui dépasse */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    top: -50px;
    z-index: 0;
}

#gameZoneMain {
    /* centre horizontalement avec un espace en haut */
    border: 10px solid #B47B41;
    background-color: #FFF1D2;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    background-color: #EC6A5F;
    border: 5px solid #8e3f38;
    border-radius: 10px;
    position: relative;
    margin: 0;
    z-index: 1;
    width: 80vw;
    margin: auto;
    margin-top: 20px;


}

.headerMain {
    background-color: #d36054;
    color: white;
    padding: 1px;
    margin: 10px;
    align-items: center;
    text-align: center;
}

.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

#consigne {
    z-index: 100;
    width: 70vw;
    /* largeur fixe */
    /* hauteur fixe */
    /* centre horizontalement avec un espace en haut */
    border: 5px solid #8E3F38;
    border-radius: 12px;
    background-color: #FFF1D2;
    overflow: hidden;
    /* cache ce qui dépasse */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
    margin: auto auto;
}

#consigneMain {
    border: 10px solid #B47B41;
    background-color: #FFF1D2;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 36;
    text-align: center;
}

.background {
    visibility: visible;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.81);
    z-index: 1;
    top: 0;
    align-items: center;
    align-self: center;
    align-content: center;
}

.horizontalView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.status {
    visibility: hidden;
    border: 5px solid #6D4B27;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.statusMain {
    background-color: #fff1d2;
    border: 10px solid #b47b41;
    border-radius: 8px;
    z-index: 3;
    color: #8e3f38;
    padding-left: 100px;
    padding-right: 100px;
}