body {
    font-family: "Gowun Batang", serif;
}

.game-container {
    background-color: #DAB289;
    width: 80%;
    height: 70vh;
}

.balloons-area {
    width: 60%;
    height: 50vh;

    background-image: url("resources/background_text.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.title-game {

    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 2rem;
    font-weight: bold;

    margin: 0 auto;
    border-radius: 10px;
}

.balloon,
.balloon-to-pop {
    width: 70px;
    height: 95px;
    border-radius: 50% 50% 45% 45%;
    position: absolute;

    background: radial-gradient(circle at 30% 20%, #ffffffaa 0, transparent 40%),
                var(--balloon-color, red);

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);

    animation: float 2s ease-in-out infinite alternate;
}

.balloon-to-pop {
    --balloon-color: red;
}

.balloon {
    --balloon-color: #6FD36F;
}

/* Petit "nœud" en bas du ballon */
.balloon::after,
.balloon-to-pop::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 10px;
    background-color: inherit;
    border-radius: 50%;
}

/* Animation flottante */
@keyframes float {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.win-title,
.lose-title {
    margin: 0;

    position: absolute;
    inset: 0;
    width: 300px;
    height: 120px;
    margin: auto;

    background-image: url("resources/button_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    z-index: 20;
}


.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
  
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.hidden {
    display: none;
}

.instruction {
    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;         
    top: 50%;                   
    left: 50%;                  
    transform: translate(-50%, -50%);

    font-size: 3rem;
    font-weight: bold;
    color: #FFF1D2;
    text-align: center;
    z-index: 10;
}

.game-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}