.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
  
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

.container{
    width: 60%;
    height: 50vh;

    background-image: url("resources/background_text.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.back {
    background-color: #DAB289;
    width: 80%;
    height: 70vh;
}

.creditstxt {
    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 300px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 2rem;
    font-weight: bold;

    margin: 0 auto;
    border-radius: 10px;
}

.cat{
    font-size: 36px;
    color: #6D4B27;
}

.name{
    font-size: 24px;
    color:#DAB289;
}

