.gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
}
  
.gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Gowun Batang", serif;
}

.back {
    background-color: #DAB289;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}


.container {
    width: 90%;
    height: 80vh;

    background-image: url("resources/background_text.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    overflow: hidden;
    margin: 0 auto;

    padding: 40px 10px 150px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.creditstxt {
    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 1000px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 28px;
    
    margin: 0 auto 30px;
    margin-top: 10px;
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 450px;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
}

.right {
    align-self: flex-start;
}

.left {
    flex: 1;
}

.dev-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 6px;
}

.cat {
    font-size: 28px;
    color: #6D4B27;
    margin: 5px 0 10px 0;
}

.name {
    font-size: 18px;
    color: #6D4B27;
    margin: 3px 0;
}

.menu-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    background-image: url("resources/button_red.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 500px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF1D2;
    font-size: 28px;
    text-align: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}


.menu-button:hover {
    transform: translateX(-50%) scale(1.05);
}
.menu-button:active {
    transform: scale(0.95);
}

a {
    text-decoration: none;
    color: inherit;
}



